{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}

<h2>About</h2>

<p>Ausserbörsliche Derivate oder Wertpapierpensions- oder ähnliche Geschäfte, deren Zeitwert mithilfe von Modellen auf der Grundlage von nicht im Rahmen der standardisierten CVA-Risikokapitalanforderungen gemäss Absatz 98 ein, es sei denn, die nationale Aufsichtsinstanz erklärt für diese Portfolios Absatz 104 für anwendbar.
</p>

{{end}}
